@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the range slider thumb and track */
input[type='range'].volume-range::-webkit-slider-thumb {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #60a5fa;
  border-radius: 9999px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  appearance: none;
  border: none;
}
input[type='range'].volume-range::-webkit-slider-runnable-track {
  height: 1rem;
  background: transparent;
}
input[type='range'].volume-range::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #60a5fa;
  border-radius: 9999px;
  border: none;
}
input[type='range'].volume-range::-moz-range-track {
  height: 1rem;
  background: transparent;
}
input[type='range'].volume-range::-ms-thumb {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #60a5fa;
  border-radius: 9999px;
  border: none;
}
input[type='range'].volume-range::-ms-fill-lower,
input[type='range'].volume-range::-ms-fill-upper {
  height: 1rem;
  background: transparent;
}
input[type='range'].volume-range:focus {
  outline: none;
}
input[type='range'].volume-range {
  outline: none;
}
